@mixin flex-ui {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary);
}

.setting-container {
    background-color: var(--background-color);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;

    &__language-block {
        @include flex-ui();
    }

    &__language-title {
        font-size: 18px;
        font-weight: 500;
    }

    button {
        font-size: 2rem;
        padding-right: 1rem;
        color: #34242442;
    }

    .active {
        cursor: pointer;
        color: rgb(52 36 36);
    }
}

.block {
    @include flex-ui();
}

.exit-btn {
    background-color: var(--background-color);
    color: var(--text);
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
}