.swiper-pagination-bullet {
  width: 14px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.3); /* Цвет неактивных точек */
  border-radius: 1rem;
  margin: 0 5px;
}

.swiper-pagination-bullet-active {
  background-color: var(--text); /* Цвет активной точки */
  transform: scale(1); /* Увеличение активной точки */
}